In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("spotify.csv")

          artist_name    track_name         album_name
98800  Ricardo Arjona  Me Enseñaste  Canciones De Amor
25698  Mumford & Sons  Lovers' Eyes              Babel

In [9]:
df.isnull().sum()

spotify_track_uri      0
ts                     0
platform               0
ms_played              0
track_name             0
artist_name            0
album_name             0
reason_start         143
reason_end           117
shuffle                0
skipped                0
dtype: int64

In [11]:
# Creating a new data set in which these 3 entity is used
df = df[['artist_name','track_name','album_name']]

In [116]:
df = df.sample(5000).reset_index(drop=True)

In [117]:
df.head(3)

,artist_name,track_name,album_name,text
0,Illya Kuryaki & The Valderramas,Jennifer Del Estero,Leche,Leche
1,Imagine Dragons,I’ll Make It Up To You,Evolve,Evolve
2,The White Stripes,Do,The White Stripes,The White Stripes

In [118]:
# TEXT CLEANING AND TEXT PROCESSING

In [119]:
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import word_tokenize
nltk.download("punkt_tab")

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\dhruv\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [120]:
stemmer = PorterStemmer()

In [121]:
# comverting the Text into the Token
def tokens(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [122]:
df['text'] = df['album_name']

In [123]:
# to apply to all the data set 
df['text'].apply(lambda x: token(x))

0                                                    lech
1                                                   evolv
2                                        the white stripe
3       dean martin : the capitol record , vol . 11 ( ...
4                                               continuum
                              ...
4995                                       back to bedlam
4996          histori - past , present and futur - book i
4997                                     implod the mirag
4998    quentin tarantino 's onc upon a time in hollyw...
4999                                                    +
Name: text, Length: 5000, dtype: object

In [124]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [125]:
tfid = TfidfVectorizer(analyzer="word",stop_words="english")

In [126]:
matrix = tfid.fit_transform(df['text'])

In [127]:
similar = cosine_similarity(matrix)

In [128]:
df[df['track_name'] == "Lovers' Eyes"].index[0]

725

In [129]:
# CREATING A RECCOMENDER FUNCTION

In [132]:
def reccomender(song_name):
    idx = df[df['track_name'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key= lambda x:x[1])
    song = []
    # means show only first 5 song
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]]['track_name'])
    return song

In [135]:
# reccomender("I’ll Make It Up To You")

In [141]:
import pickle

In [142]:
pickle.dump(similar,open("similarity","wb"))

In [143]:
pickle.dump(df,open("df","wb"))